body {
  background-image: url("https://res.cloudinary.com/flook-dev/image/upload/v1656312023/Image_from_iOS_xupoeq.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
