.body {
  background-image: url("https://res.cloudinary.com/flook-dev/image/upload/v1656312023/Image_from_iOS_xupoeq.png");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
.App {
  text-align: center;
}

.container {
  margin: 20px auto;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
